body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 25px;
  display: grid;
  background-color: #c6c6c6;
}

h1 {
  /* text-align: center; */
  grid-column: 1;
  grid-row: 1;
  place-self: center;
}

button:hover {
  filter: brightness(85%);
}
input:hover {
  filter: brightness(85%);
}
/* Auxiliar feita para centralizar alguns 
  elementos especificos mais facilmente */
.centralizar {
  text-align: center;
}

.rodape {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  place-items: center;
}

.avaliar {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.noticia {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border: 2px solid lightgreen;
  border-radius: 6px;
}

.sidebar {
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border-radius: 6px;
  border: 2px solid aqua;
}
.toponimo:hover {
  filter: brightness(85%);
}
.toponimo {
  /* text-decoration: none; */
  /* color: blue; */
  background-color: aqua;
  border-radius: 6px;
  padding: 1px;
}

#top-display {
  display: inline-block;
  text-align: center;
  background-color: aqua;
  border-radius: 8px;
  padding: 6px;
}

#submit {
  font-size: 15px;
  padding: 15px;
  border-radius: 8px;
  margin: 10px;
  background-color: lightgreen;
}

#pergunta-1,
#pergunta-2,
#pergunta-3 {
  padding: 10px 0px;
}

#novo-toponimo-div {
  background-color: aqua;
  text-align: center;
  border-radius: 8px;
  padding: 6px;
  margin-top: 20px;
}

#continuar-sair {
  place-self: center;
}

#continuar-sair button {
  font-size: 24px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}
#continuar {
  background-color: lightgreen;
  margin-right: 10px;
}
#continuar-sair a button {
  background-color: lightcoral;
  margin-left: 10px;
}
