<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title> Avaliar </title>
</head>

<body>
    <h1>Avaliar</h1>
    <div class="rodape">
        <h2>Notícia</h2>
        <h2>Ajustes</h2>
    </div>
    <div class="avaliar">
        <div class="noticia">
            <p>{{texto | safe}}
            </p>
        </div>
        <div class="sidebar">
            <form method="post" id="formulario">
                <div class="centralizar">
                    <input type="hidden" id="top-s" name="top-selecionado" value="teste-value">
                    <h3 id="top-display">Testando</h3>
                </div>
                <div id="pergunta-1">
                    <label for="pergunta-1">
                        <strong>Esta palavra é um topônimo?</strong>
                    </label>
                    <br>
                    <input type="radio" id="sim" name="pergunta-1" value="sim">
                    <label for="sim">Sim</label>
                    <input type="radio" id="nao" name="pergunta-1" value="nao">
                    <label for="nao">Não</label>
                    <input type="radio" id="nao-sei" name="pergunta-1" value="nao-sei">
                    <label for="nao-sei">Não sei</label>
                </div>
                <div id="pergunta-2">
                    <label for="pergunta-2"><strong>Qual o tipo deste topônimo?</strong></label>
                    <br>
                    <input type="radio" id="zona" name="pergunta-2" value="zona">
                    <label for="zona">Zona</label>
                    <input type="radio" id="continente" name="pergunta-2" value="continente">
                    <label for="continente">Continente</label>
                    <input type="radio" id="país" name="pergunta-2" value="país">
                    <label for="país">País</label>
                    <input type="radio" id="unidade-federativa" name="pergunta-2" value="unidade-federativa">
                    <label for="unidade-federativa">Estado</label>
                    <br>
                    <input type="radio" id="cidade" name="pergunta-2" value="cidade">
                    <label for="cidade">Cidade</label>
                    <input type="radio" id="bairro" name="pergunta-2" value="bairro">
                    <label for="bairro">Bairro</label>
                    <input type="radio" id="rua" name="pergunta-2" value="rua">
                    <label for="rua">Rua</label>
                    <input type="radio" id="outro" name="pergunta-2" value="outro">
                    <label for="outro">Outro</label>
                </div>
                <div id="pergunta-3">
                    <label for="estado">
                        <strong>A qual estado este topônimo pertence?</strong>
                    </label>
                    <br>
                    <select onchange="selecionarEstado()" id="listaEstados">
                        <option value="">Selecione um estado</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                    <input type="text" id="estado" name="pergunta-3" readonly>
                </div>
                <div class="centralizar">
                    <input type="submit" name="enviar" id="submit" value="Enviar">
                </div>
                <div id="novo-toponimo-div">
                    <label for="novo-toponimo"><strong>Adicionar Topônimo Não Identificado:</strong></label>
                    <br>
                    <input type="text" id="novo-toponimo">
                </div>
            </form>
        </div>

    </div>
    <div id="continuar-sair">
        <button id="continuar">Próxima Notícia</button>
        <a href="/"><button>Sair</button></a>
    </div>
    <script src="../static/script.js"></script>
</body>

</html>